In [188]:
import pandas
import numpy
import scipy.cluster.hierarchy as shc
from scipy.cluster.hierarchy import dendrogram, linkage  
from matplotlib import pyplot as plt
from sklearn.cluster import AgglomerativeClustering
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [189]:
data_total = pandas.read_csv("/home/tony/data/craigslistVehiclesFull.csv")
data_total_clean = data_total.replace(numpy.nan,'',regex=True)

In [190]:
data_total_clean2 = data_total_clean.replace("nan",'',regex=True)

In [191]:
data_total_clean2[0:3]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,...,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
0,https://marshall.craigslist.org/cto/d/2010-dod...,marshall,11900,2010,dodge,challenger se,good,6 cylinders,gas,43600,...,red,https://images.craigslist.org/00i0i_2ggH1eKDNK...,43.4775,-96.7041,46083,Lincoln,46,SD,South Dakota,38
1,https://marshall.craigslist.org/cto/d/fleetwoo...,marshall,1515,1999,,fleetwood,,,gas,,...,,https://images.craigslist.org/00M0M_irjh7SjEcU...,44.7612,-96.6907,46039,Deuel,46,SD,South Dakota,38
2,https://marshall.craigslist.org/cto/d/2008-for...,marshall,17550,2008,ford,f-150,,,gas,,...,,https://images.craigslist.org/00s0s_eL2XFhEUcx...,44.1415,-103.2052,46093,Meade,46,SD,South Dakota,38

In [192]:
data = data_total_clean2[0:10000]

In [193]:
data[0:3]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,...,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
0,https://marshall.craigslist.org/cto/d/2010-dod...,marshall,11900,2010,dodge,challenger se,good,6 cylinders,gas,43600,...,red,https://images.craigslist.org/00i0i_2ggH1eKDNK...,43.4775,-96.7041,46083,Lincoln,46,SD,South Dakota,38
1,https://marshall.craigslist.org/cto/d/fleetwoo...,marshall,1515,1999,,fleetwood,,,gas,,...,,https://images.craigslist.org/00M0M_irjh7SjEcU...,44.7612,-96.6907,46039,Deuel,46,SD,South Dakota,38
2,https://marshall.craigslist.org/cto/d/2008-for...,marshall,17550,2008,ford,f-150,,,gas,,...,,https://images.craigslist.org/00s0s_eL2XFhEUcx...,44.1415,-103.2052,46093,Meade,46,SD,South Dakota,38

In [194]:
data.shape

(10000, 26)

In [195]:
list_paint= data['paint_color']
list_countryName= data['county_name']
list_year= data['year']
list_manufacturer= data['manufacturer']
list_condition= data['condition']
list_cylinders= data['cylinders']
list_price= data['price']
list_stateFips= data['state_fips']
list_fuel= data['fuel']
list_make= data['make']

In [196]:
list_final=[]
for x1,x2,x3,x4,x5,x6,x7,x8,x9 in zip(list_paint,list_countryName,list_manufacturer,list_condition,list_cylinders,list_price,list_stateFips,list_fuel,list_make):
    list_reset=[]
    if x1 != '' and x1 != 'nan' :
        list_reset.append(str(x1))
    if x2 != ''  and x2 != 'nan':
        list_reset.append(str(x2))
    if x3 != ''  and x3 != 'nan':
        list_reset.append(str(x3))
    if x4 != ''  and x4 != 'nan':
        list_reset.append(str(x4))
    if x5 != ''  and x5 != 'nan':
        list_reset.append(str(x5))
    if x6 != ''  and x6 != 'nan':
        list_reset.append(str(x6))
    if x7 != ''  and x7 != 'nan':
        list_reset.append(str(x7))
    if x8 != ''  and x8 != 'nan':
        list_reset.append(str(x8))
    if x9 != ''  and x9 != 'nan':
        list_reset.append(str(x9))
 
    list_final.append(list_reset)

In [197]:
list_final[0:3]

[['red',
  'Lincoln',
  'dodge',
  'good',
  '6 cylinders',
  '11900',
  '46.0',
  'gas',
  'challenger se'],
 ['Deuel', '1515', '46.0', 'gas', 'fleetwood'],
 ['Meade', 'ford', '17550', '46.0', 'gas', 'f-150']]

In [198]:
te = TransactionEncoder()
te_ary = te.fit(list_final).transform(list_final)
df = pandas.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

    support            itemsets
0    0.1550       (4 cylinders)
1    0.2011       (6 cylinders)
2    0.1950       (8 cylinders)
3    0.1093             (black)
4    0.1061         (chevrolet)
5    0.2562         (excellent)
6    0.1744              (ford)
7    0.8881               (gas)
8    0.2117              (good)
9    0.1238             (white)
10   0.1504  (gas, 4 cylinders)
11   0.1896  (gas, 6 cylinders)
12   0.1728  (gas, 8 cylinders)
13   0.2366    (gas, excellent)
14   0.1442         (gas, ford)
15   0.1920         (gas, good)

In [187]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(4 cylinders),(gas),0.1550,0.8881,0.1504,0.970323,1.092583,0.012745,3.770543
1,(6 cylinders),(gas),0.2011,0.8881,0.1896,0.942815,1.061609,0.011003,1.956790
2,(8 cylinders),(gas),0.1950,0.8881,0.1728,0.886154,0.997809,-0.000380,0.982905
3,(excellent),(gas),0.2562,0.8881,0.2366,0.923497,1.039857,0.009069,1.462693
4,(ford),(gas),0.1744,0.8881,0.1442,0.826835,0.931015,-0.010685,0.646204
5,(good),(gas),0.2117,0.8881,0.1920,0.906944,1.021218,0.003989,1.202499

**Bibliografia**


http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

https://www.jacobsoft.com.mx/es_mx/aprendizaje-con-reglas-de-asociacion/